.App {
  text-align: center;
}

#navBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#navBar-CartArea, .navBar-CartArea-w{
  margin-left: 10px;
}
